.titulo{
    margin-top: 80px;
}
body{
    background-color: aliceblue;
    line-height: 1.6
    ;
}

svg{
    margin-right: 8px;
    display: flex;
}
p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    color: rgb(39, 37, 37);

}

h2{
    padding: 3%;
}
h1{
    padding: 1%;
}
main{
    padding: 20px;

    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
section{
    background-color: rgba(197, 195, 195, 0.5);
    border-radius: 10px;
    padding: 20px;
    opacity: 1;
    box-shadow: 2.5px 2.5px 2.5px rgb(80, 78, 78);
}
img{
    width: 60%;
    height: auto;
}
.cavalo{
    width: 90%;
}
.secpro{
    margin-top: 20px;
}


